__pycache__/
.vscode
*.engine
*.engine.config
*.cache
*.nsys-rep
*.npy
.VSCodeCounter
cpp/build*
cpp/Release
build
!tensorrt_llm/bench/build
!builders/
*.egg-info/
.coverage
*.onnx
tmp/
venv/
.venv/
.venv-*/
.python-version
.local/
.hypothesis/
.idea/
dump*/
.trt-internal
*.dot
*.prof
*.log
*.pkl
*.hdf5
*.txt
*.csv
*.sqlite
*.png
prepare_data_json/
